
.contact_form_container {
    width: 30%;
    margin: 0 auto;
}
.contact_form {
    padding: 16px;
    background-color: white;
    width: 80%;
}

.contact_form > div {
    margin-bottom: 10px;
}

.contact_form_namecontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact_form_namecontainer > div {
    width: 45%;
    margin: 2px;
}
.contact_form_namecontainer > div > input {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #c2c2c2;
}

.contact_form_namecontainer > div > input:hover{
    border: 2px solid #8deeee;
    box-shadow: none;
}

#email {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #c2c2c2;
    border:none;
    outline: none;
}

#email:hover {
    border: 2px solid #8deeee;
    box-shadow: none;
}

#message {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #c2c2c2;
    border: none;
    outline: none;
}

#message:hover {
    border: 2px solid #8deeee;
    box-shadow: none;
}


#btn_submit {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #1c86ee;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#btn_submit:hover {
    background-color: #1874cd;
}

@media screen and (max-width:600px){
    .contact_form_container {
            width: 100%;
            margin: 0 auto;
        }
    
}