
.contact_form_container {
    width: 50%;
    margin: 0 auto;
}
.contact_form {
    padding: 16px;
    background-color: white;
    width: 80%;
}

.contact-form-heading {
    width: 448px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #101828;
}

.contact-form-subtext {
        width: 720px;
        height: 30px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #475467;
}
.contact_form > div {
    margin-bottom: 10px;
}

.contact_form_namecontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flabel {
    width: 70px;
        height: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #344054;
}
.contact_form_namecontainer > div {
    width: 45%;
    margin: 2px;
}
.contact_form_namecontainer > div > input {
    width: 100%;
    padding: 5px;
    border: 1px solid #D0D5DD;
    outline: none;
    border-radius: 8px;
}

.contact_form_namecontainer > div > input:hover{
    border: 2px solid #8deeee;
    box-shadow: none;
}

#email {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    outline: none;
}

#email:hover {
    border: 2px solid #8deeee;
    box-shadow: none;
}

#message {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    outline: none;
}

#message:hover {
    border: 2px solid #8deeee;
    box-shadow: none;
}

.radio_btn {
        width: 688px;
        height: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #475467;
}


#btn_submit {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #1c86ee; 
    color: #fff;
    border: none;
    border-radius: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        
}

#btn_submit:hover {
    background-color: #1874cd;
}

@media screen and (max-width:700px){
    .contact_form_container {
            width: 70%;
            margin: 0 auto;
        }
    .contact_form {
        width: 100%;
    }

    .contact-form-subtext {
        font-size: 12px;
    }
    .contact_form > div {
        width: 100%;
    }

    .contact_form_namecontainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contact_form_namecontainer>div {
        width: 100%
    }
    .radio_btn {
        font-size: 12px;
    }
    
}