


.Profile {
    width: 100%;
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 10px;
}

#profile_img {
  height: auto;
  margin-top: 10px;
  max-width: 300px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.profile-handles {
  font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #101828;
    margin-bottom: 30px;
}

#slack {
  margin: 10px;
}

.profile-links {
  width: 80%;
}

.profile-links > div {
  margin-bottom: 5px;
  width: 100%
}
 a {
  display: block;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  background-color: #EAECF0;
  font-size: 14px;
  line-height: 28px;
  color: #101828;
  width: 100%;
  border: 1px solid #EAECF0;
  border-radius: 8px;
} 
 
a:hover {
  background-color: #d4d4d4;
}



