.Profile {
    width: 100%;
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
}

#profile_img {
  height: auto;
  margin-top: 20px;
  max-width: 300px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.profile-handles {
  display: flex;
  flex-direction: row;
}
#twitter {
  margin: 10px;
}
#slack {
  margin: 10px;
}


.profile-links > div {
  margin-bottom: 10px;
}
a {
  display: block;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
}
 a:hover {
  border: 2px solid navy;
 }

#btn_zuri {
  background-color: brown;
}

a > h3 {
  color: yellow;
}